@page "/movies"
@inject IMovieService MovieService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Movies</PageTitle>

<h1>Movie List</h1>

<p>This component demonstrates utilizing a dependency injected database context service.</p>

@if (movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-sm table-hover table-striped align-middle">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in movies)
            {
                <tr>
                    <td>@movie.Id</td>
                    <td>@movie.Name</td>
                    <td>
                        <ButtonUpdateMovie Id="@movie.Id" IsDisabled="@isDeleting" />
                        <button 
                            class="btn btn-danger m-1"
                            @onclick="() => DeleteMovie(movie)"
                            disabled="@isDeleting"
                        >Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <ButtonCreateMovie IsDisabled="@isDeleting" />
}

@code {
    private bool isDeleting;
    private IList<Movie>? movies;

    protected override async Task OnInitializedAsync()
    {
        movies = await MovieService.GetAllMoviesAsync();
    }

    protected async Task DeleteMovie(Movie movie)
    {
        isDeleting = true;
        bool confirmed = await JSRuntime.InvokeAsync<bool>(
            "confirm",
            $"Are you sure that you want to delete '{movie.Name}' from your list?");
        if (confirmed)
        {
            await MovieService.DeleteMovieAsync(movie.Id);
            movies = await MovieService.GetAllMoviesAsync();
        }
        isDeleting = false;
    }
}
